body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;

  .slides {
    width: 400%;
    height: 400px;
    display: flex;

    input {
      display: none;
    }

    .navigation-auto div {
      border: 2px solid #20a6ff;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }

    .navigation-auto {
      position: absolute;
      width: 800px;
      margin-top: 360px;
      display: flex;
      justify-content: center;
    }

    .navigation-auto div:not(:last-child) {
      margin-right: 40px;
    }

    .slide {
      width: 25%;
      position: relative;
      transition: 2s;

      img {
        width: 100%;
        height: 380px;
      }

      object-fit: cover;
    }

    #radio1:checked ~ .first {
      margin-left: 0;
    }
    
    #radio2:checked ~ .first {
      margin-left: -800px;
    }
    
    #radio3:checked ~ .first {
      margin-left: -1600px;
    }
    
    #radio4:checked ~ .first {
      margin-left: -2400px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
      background-color: #fff;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2 {
      background-color: #fff;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3 {
      background-color: #fff;
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4 {
      background-color: #fff;
    }
  }

  .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

    .manual-btn {
      border: 2px solid #fff;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: .08s;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.small-slider {
  margin-top: 50px;
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navigation {
    width: 5%;
    position: relative;
    i {
      font-size: 70px;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    overflow: hidden;
    margin-left: 10px;

    .group {
      display: flex;
      position: relative;
      transition: 2s;
    }
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 20px;
    }
    
  }
}